In [1]:
user = {
    "name" : "Daniel",
    "surname" : "Smith",
    "age" : 35
}

for attribute in user:
    print(attribute)

name
surname
age

In [8]:
user = {
    "name" : "Daniel",
    "surname" : "Smith",
    "age" : 35
}

for i in user.values():
    print(i, end="-")

Daniel-Smith-35-

In [5]:
for i in "abc":
    print("Hello")

Hello
Hello
Hello

In [6]:
user = {
    "name" : "Daniel",
    "surname" : "Smith",
    "age" : 35
}

for key, value in user.items():
    print(key, ":", value)

name : Daniel
surname : Smith
age : 35

In [9]:
test = [(1,2),(3,4),(5,6)]
for i, j in test:
    print(i,j)

1 2
3 4
5 6

In [16]:
test2 = [(1,2,11),(3,4,22),(5,6,33)]
for i,j,t in test2:
    print(i, j, t)

1 2 11
3 4 22
5 6 33

In [18]:
test2 = [(1,2,11),(3,4,22),(5,6,33)]
for i in test2:
    print(i)

(1, 2, 11)
(3, 4, 22)
(5, 6, 33)

In [23]:
x = int(input("Enter a number you want to see its multiplications up to ten: "))
for i in range(0,11):
    print(f"{x} * {i} =",x*i)

Enter a number you want to see its multiplications up to ten: 9
9 * 0 = 0
9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81
9 * 10 = 90

In [27]:
print(*range(10,3,-1))

10 9 8 7 6 5 4

In [40]:
for i in range(1,10): print(str(i)*i)

1
22
333
4444
55555
666666
7777777
88888888
999999999

In [41]:
print(*range(5,25,2))

5 7 9 11 13 15 17 19 21 23

In [42]:
print(*range(10,0,-2))

10 8 6 4 2

In [46]:
text = ["one", "two", "three", "four", "five"]
numbers = [1,2,3,4,5]
z = ["I", "II", "III", "IV", "V"]
for x, y, c in zip (text, numbers,z):
    print(str(x) + ":" + str(y) + ":" + str(c))

one:1:I
two:2:II
three:3:III
four:4:IV
five:5:V

In [49]:
a = []
b = []
for i in range (1,11):
    if i % 2 == 0:
        a.append(i)
    else:
        b.append(i)
print("Evens: ",a)
print("Odds: ", b)

Evens:  [2, 4, 6, 8, 10]
Odds:  [1, 3, 5, 7, 9]

In [50]:
example_list = [11, 2, 24, 61, 48, 33, 3]
a = [] 
b = []
for i in example_list:
    if i % 2 == 0:
        a.append(i)
    else:
        b.append(i)
print("The number of even numbers:", len(a))
print("The number of odd numbers:", len(b))

The number of even numbers: 3
The number of odd numbers: 4

In [51]:
x = 0
for i in range (1,75):
    x +=i
print(x)

2775

In [53]:
who = ["I am ", "You are "]
mood = ["happy", "confident"]
for i in who:
    for ii in mood:
        print(i + ii)

I am happy
I am confident
You are happy
You are confident

In [54]:
names = ["Susan" , "Tom", "Edward"]
mood = ["happy", "sad"]
for i in names:
    for ii in mood:
        print(i, "is", ii)

Susan is happy
Susan is sad
Tom is happy
Tom is sad
Edward is happy
Edward is sad